
<ul class="nav nav-pills nav-stacked">
	<li><a href="#"> <span class="pull-right">(50)</span>Tênis</a></li>
	<li><a href="#"> <span class="pull-right">(56)</span>Sapatos</a></li>
	<li><a href="#"> <span class="pull-right">(27)</span>Botas</a></li>
	<li><a href="#"> <span class="pull-right">(32)</span>Chinelos</a></li>
	<li><a href="#"> <span class="pull-right">(5)</span>Sandalias</a></li>
	<li><a href="#"> <span class="pull-right">(9)</span>Rasteirinhas</a></li>
	<li><a href="#"> <span class="pull-right">(4)</span>Sapatênis</a></li>
</ul>