 
<% @scategory.each do |scategory| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
				<span class="badge pull-right"><i class="fa fa-plus"></i></span>
				<%=  scategory.name %>
			</a>
		</h4>
	</div>
	<div id="sportswear" class="panel-collapse collapse">
		<div class="panel-body">
			<ul>
				<% scategory.categories.each do |section| %>
				<li><a href="#"><%= link_to section.name, products_path(@product) %></a></li>
				<% end %>
				
			</ul>
		</div>
	</div>
</div>
<% end %>
