<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="/images/home/recommend1.jpg" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="/images/home/recommend2.jpg" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
			
		</div>
	</div>
</div>
<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="/images/home/recommend3.jpg" alt="" />
				<h2>$56</h2>
				<p>Easy Polo Black Edition</p>
				<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
		</div>
	</div>
</div>