<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guto Calçado</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/price-range.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
  <header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li>  
                  <div class="logo pull-left">
                    <a href="index.html">
                      <img src="/images/home/logo.png" alt="" />
                    </a>
                  </div>
                </li>
                <li><a href="#"><i class="fa fa-phone"></i> (66) 3437 12 49</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> guto@campinapolis.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header_top-->
    
    
    <!-- ================================== header-middle-->
    <!-- <div class="header-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-4 clearfix">
            <div class="logo pull-left">
              <a href="index.html"><img src="/images/home/logo.png" alt="" /></a>
            </div>
            <div class="btn-group pull-right clearfix">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                  Br
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="">Campinápolis</a></li>
                  <li><a href="">MT</a></li>
                </ul>
              </div>
              
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                  Real
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="">Canadian Dollar</a></li>
                  <li><a href="">Pound</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 clearfix">
            <div class="shop-menu clearfix pull-right">
              <ul class="nav navbar-nav">
                <li><a href=""><i class="fa fa-user"></i> Account</a></li>
                <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
    </div>
    ================================  header-middle-->
  
    <div class="header-bottom"><!--header-bottom-->
      <%= render partial: "layouts/header-bottom"  %>
    </div><!--/header-bottom-->
  </header><!--/header-->



    <%= yield %>


  
  <footer id="footer"><!--Footer-->
    <div class="footer-top">
      <%= render partial: "layouts/footer-top" %>
    </div>
    
    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Serviços</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="/">Home</a></li>
                <li><a href="#">Ajuda online</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre-nós</a></li>
                <!-- <li><a href="#">Change Location</a></li>
                <li><a href="#">FAQ’s</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Galeria</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Bolsas</a></li>
                <li><a href="#">Mochilas</a></li>
                <li><a href="#">Esportes</a></li>
                <li><a href="#">Brinquedos Cards</a></li>
                <li><a href="#">Perfumes</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Calçados</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Masculino</a></li>
                <li><a href="#">Feminino</a></li>
                <li><a href="#">Unissex</a></li>
                <li><a href="#">Infantil</a></li>
                <!-- <li><a href="#">Ticket System</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="single-widget">
              <h2>Perfumes</h2>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Importados</a></li>
                <li><a href="#">Masculino</a></li>
                <li><a href="#">Feminino</a></li>
                <li><a href="#">Infantil</a></li>
                <!-- <li><a href="#"></a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="single-widget">
              <h2>About Shopper</h2>
              <form action="#" class="searchform">
                <input type="text" placeholder="Your email address" />
                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                <p>Get the most recent updates from <br />our site and be updated your self...</p>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
          <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
        </div>
      </div>
    </div>
    
  </footer><!--/Footer-->
  

  
    <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/price-range.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>